* {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*
* 日常样式重置 字体设置
*/
html, body{
  height: 100%;
  position: relative;
  margin: 0;
  overflow: hidden;
  -webkit-user-select:none;
  -webkit-tap-highlight-color: transparent;
}
body{
  background: url(../imgs/result-background.png) no-repeat;
  background-size: 100%;
  font-family: 'Microsoft YaHei';
}